/**
	Incluir aquí las reglas css propias de este proyecto 
*/
.importe-resaltado{
	color: red !important;
	font-weight: bold;	
}
.ci-tabs-h-lista {
    margin-left: 0px;
    width: 100%;
    background-color: #244268;
}
#enc-logo{
	height: 50px !important;
}
ul.horizontal{
	top: 0 !important;
}
.nivel-0{
	padding: 0px 7px !important;
	width: 100px !important;
	text-align: center;
}
.nivel-0 img{
	width: 35px !important; 
}
.item-menu{
	padding: 0;
	margin: 0;
	/*color: #fff;*/
	/*font-weight: bold;*/
}
.barra-superior.barra-superior-tit.item-barra{
	padding: 8px !important;
}