/**
	Incluir aquí las reglas css propias de este proyecto 
*/
.importe-resaltado{
	color: red !important;
	font-weight: bold;	
}
.ci-tabs-h-lista {
    margin-left: 0px;
    width: 100%;
    background-color: #244268;
}