/**
	Incluir aquí las reglas css propias de este proyecto 
*/
.importe-resaltado{
	color: red !important;
	font-weight: bold;	
}
.ci-tabs-h-lista {
    margin-left: 0px;
    width: 100%;
    background-color: #244268;
}
#enc-logo{
	height: 50px !important;
}
ul.horizontal{
	top: 0 !important;
}
.nivel-0{
	padding: 0px 7px !important;
	width: 100px !important;
	text-align: center !important;
	display: grid !important;
}
.nivel-0 img{
	width: 35px !important; 
	margin: auto !important;
}
.barra-superior.barra-superior-tit.item-barra{
	padding: 8px !important;
}

/**/

.tabla_menu {
  border-collapse: collapse;
}

.tabla_menu{
	border: 1px solid black;
	background-color: #D0D5DB;
	color: #fff;	
}
.tabla_menu tr{
	border: 1px solid black;		
}
.tabla_menu tr td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}